.container-pe {
    font-size: 20px;
    max-width: 100%;
}

#nome,
#rua {
    width: 95vw;
}

.fotope {
    display: flex;
}

.input-radiope {
    display: flex;
    gap: 25px;
    margin-left: 5px;
}

.input-boxpe input {
    background-color: #00000010;
    border: none;
    color: black;
    height: 35px;
    border-radius: 20px;
    text-indent: 10px;
    border-radius: 10px;
    border-bottom: #f47907 2px solid;
}

.input-boxpe {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    text-indent: 10px;
}

.input-radioc {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    /* gap: 25px; */
    /* margin-left: 5px; */
}

.continue-buttonpe {
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.continue-buttonpe button {
    background-color: #f47907;
    color: white;
    font-size: 1.1em;
    border: none;
    padding: 20px;
    border-radius: 10px;
}

#ftoc input {
    display: none;
}

#ftoc {
    display: flex;
    padding-bottom: 20px;
}

#imgtc {
    display: none;
}

.aqv {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.41);
    text-align: center;
    border-radius: 5px;
    border-style: dashed;
    margin: 5px;
}

.input-checkc {
    padding: 10px 0;
}

.input-checkc input {
    display: none;
}

.input-checkc input+label:before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;
}

.input-checkc input:checked+label::before {
    content: "✓";
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #f47907;
}

@media screen and (min-width:550px) {
    #nome,
    #rua {
        width: 94vw;
    }

    .input-boxpe input {
        width: 45vw;
    }

    .input-checkc {
        gap: 8vw;
        /* margin-left: 2%; */
    }

    .input-grouppe {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 3vw;
    }

    .container-pe {
        display: flex;
    }
}

@media screen and (min-width:1000px) {
    .container-pe {
        font-size: 20px;
        max-width: 1000px;
        margin: auto;
        justify-content: center;
    }

    #imgtc {
        display: flex;
        margin-top: 1px;
        border-radius: 20px;
        width: 100%;
        height: 540px;
    }

    #formpe {
        width: 1000px;
    }

    #nome, #rua{
        max-width: 1000px;
    }

    .input-boxpe input {
        max-width: 450px;
    }

    .input-grouppe{
        justify-content: space-between;
    }

    .continue-buttonpe button {
        cursor: pointer;
    }

    .continue-buttonpe button:hover {
        background-color: #e56a00;
    }

    .input-checkc input+label:before,
    .input-radioc input+label:before {
        cursor: pointer;
    }

    .aqv {
        cursor: pointer;
    }

    .aqv:hover {
        background-color: rgba(22, 22, 22, 0.363);
        cursor: pointer;
    }

    .container-pe1 {
        display: block;
    }
}
