@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Geral -----------------------------------------------------*/

body {
    font-family: 'Noto Sans';
    font-size: 1.1em;
    width: 100%;
    height: 750px;
    margin: 0px;
    font-family: "Noto Sans";
    font-weight: 300;
}

button {

    background-color: #F29D30;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 1.1em;

}

main {
    padding: 2%;
}

/* Header ---------------------------------------------------*/
header {
    max-height: 90px;
    overflow: hidden;
}

/* Nav-lateral ----------------------------------------------*/
.menu-itens {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    /*Cria o icone de menu-hamburguer*/
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 15px;
}

.change .bar1 {
    /*Altera a forma do icone de menu-hamburgue para um X*/
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.abrir {
    /*Abre o menu-hamburguer*/
    padding-top: 5%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 0;
    background-color: #3d3b3b;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

nav {
    background-color: #F29D30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 85px;

}

#logo {
    max-width: 70px;
    width: 100%;
    height: 70px;
    border-radius: 50%;
    background-color: white;
}

#avatar-minha-conta {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}

.menu-lateral {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 0;
    overflow-x: hidden;
}

.menu-lateral a {

    margin: 10% 0;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
}
/* Home ---------------------------------------------------- */

#home-main{
    background-image: url(../img/home-pedreiro2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#categorias-home{
    
    display: flex;
    gap: 2%;
    margin-top: 5px;
}

.categorias-home-escolha{
    width: 50%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

#pedreiro{
    background-color: #F29D30;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
}

#contratante{
    background-color: #3d3b3b;
    color: grey;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
}

#login-home{
    text-align: center;
    padding: 25% 0;
    margin: 15% 0;
    overflow: hidden;
}

.conteudo-login-campos{
    margin: 25px 0;
}

.conteudo-login-campos input{
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #F29D30;
    width: 90%;
    text-indent: 20px;
    text-transform: uppercase;
    font-size: 1.1em;
    margin-top: 10px;
}

.conteudo-login-campos label{
    font-size: 1.7em;
    color: white;
    font-weight: bold;
    text-shadow: #3d3b3b 2px 2px 2px;
    /* margin: 10px 0; */
}

.login-extra{
    font-size: 1.3em;
    color: white;
    text-shadow: #3d3b3b 2px 2px 2px;
    display: block;
    text-decoration: none;
    margin: 10px 0;
}

#botao-entrar-login{
    font-size: 1.4em;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: bold;
}

#baixe-app{
    height: 650px;
    width: 100%;
}

#baixe-app h2{
    text-shadow: #3d3b3b 2px 2px 2px;
    color: white;
    padding: 1%;
}

/* SobreNos -------------------------------------------------*/
.sobreNos{
    /* background-image: url(../img/imagem8.png); */
    background-color: white;
}

.sobreNos img{
    width: 100%;
    border-radius: 10px;
}
.titulos-sobreNos{
    font-weight: 700;
}
/* ---------------------Cadastro Contratante-------------------------------- */

.contratoc {
    font-size: 20px;
}

#h1c {
    text-align: center;
    background-color: #0CA4F2;
    color: white;
    border-radius: 5px;
}

#h2c{
    padding-left: 10px;
}

.input-boxc {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-indent: 10px;
}

.input-boxc input {
    background-color: #0CA4F2;
    border: none;
    color: white;
    height: 40px;
    border-radius: 20px;
    text-indent: 10px;
}

.continue-buttonc {
    text-align: center;
    padding: 20px;
}

.continue-buttonc button {
    font-size: 15px;
    background-color: #0CA4F2;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

.input-radioc {
    display: flex;
    gap: 25px;
}

#ftoc input {
    display: none;
}

#ftoc {
    display: flex;
    padding-bottom: 20px;

}

.aqv {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.41);
    text-align: center;
    border-radius: 5px;
    border-style: dashed;
    margin: 5px;
}

.input-checkc {

    padding: 10px 0;


}

.input-checkc input, .input-radioc input {
    display: none;


}

.input-checkc input+label:before,  .input-radioc input+label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;

}

.input-checkc input:checked+label::before, .input-radioc input:checked+label::before {
    background-color: #0CA4F2;


}

/* Página de Ajuda ------------------------------------------*/
#main-ajuda {
    padding: 0 5%;
}

#tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tutorial>div {
    text-align: center;
}

#lista-beneficios>li {
    line-height: 25px;
}
/* Footer --------------------------------------------------*/

.rodape {
    background-color: #3d3b3b;
    color: rgb(255, 255, 255);
    font-weight: 300px;
    padding-top: 5px;
    overflow: hidden;
    font-family: "Noto Sans";
}

.menu-rodape ul {
    padding-inline-start: 0px;
}

.menu-rodape li {
    list-style-type: none;
    text-align: center;
}

.menu-rodape li a {
    text-decoration: none;
    color: gray;
}

.redes img {
    width: 45px;
}

.titulos-rodape {
    display: block;
    justify-content: center;
    align-items: center;
    /* margin: 0%; */
    padding: 20px auto;

}

.menu-rodape h3 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;

}

.menu-rodape hr {
    border: 1px rgb(110, 109, 109) solid;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;

}

.redes li {
    list-style: none;
}

.redes a {
    justify-content: center;
}

.redes-icones div {
    display: none;
}

#redes-sociais {
    display: none;
}

.assinatura {
    text-align: center;
    color: rgb(110, 109, 109);
    justify-content: center;
    padding: 0 10px;
}

#logo-footer {
    margin-top: 0;
    text-align: center;
    justify-content: center;
}

.panel {
    display: none;
    overflow: hidden;
}


/* MediaQuery */

@media screen and (min-width:600px) {
    .rodape-conteudo {
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
        text-align: center;
        flex-wrap: wrap;

    }

    .menu-rodape li a:hover {
        color: #F47907;
    }

    .panel {
        display: block;
    }

    .menu-rodape hr {
        display: none;
    }

    .redes {
        justify-content: space-around;
        display: flex;
    }

    .redes-posicao {
        width: 100%;
    }

    .redes-icones a {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .redes-icones a:hover {
        color: #F47907;
        transition: background-color 5s
    }

    .redes div {
        display: block;
    }

    .redes img {
        width: 60px;
    }

    .redes-icones {
        display: flex;
    }

    .redes-icones a {
        text-decoration: none;
        color: white;
    }
}

@media screen and (min-width:960px) {

    .rodape {
        padding-top: 0;
    }

    .rodape-conteudo {
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .rodape-conteudo li {
        font-size: 20px;
    }

    .titulos-rodape {
        font-size: 24px;
    }

    .menu-rodape li a:hover {
        color: #F47907;
    }

    .menu-rodape {
        width: fit-content;
        height: 210px;
    }

    .redes {
        display: list-item;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        
    }

    .redes-icones a {
        display: flex;
        justify-content: center;
        align-items: center;
        /* font-size: 1em; */
    }

    .redes-icones a img {
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }

    #redes-posicao {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .redes a {
        text-decoration: none;

    }

    .redes img {
        width: 60px;
    }

    #redes-sociais {
        display: block;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Noto Sans';
        font-weight: 200px;
    }

    .conteudo-geral-footer {
        display: flex;
        padding: 0 10%;
        justify-content: center;
    }

    .assinatura {
        font-size: 20px;
        border-top: solid rgb(68, 68, 68) 2px;
        padding: 10px;
    }

    #credito{
        margin: 0;
    }
}
