@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Geral -----------------------------------------------------*/
body {
    font-family: 'Noto Sans';
    font-size: 1.1em;
    width: 100%;
    height: 750px;
    margin: 0px;
    font-family: "Noto Sans";
    font-weight: 300;
    background-image: url(../img/brick-wall2.png);
}

button {

    background-color: #F29D30;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 1.1em;

}

main {
    padding: 2%;
    margin-top: 60px;
    overflow-x: 1000;
}

.titulo-estilo {
    /* text-shadow: #3d3b3b 2px 2px 2px; */
    color: #000000;
    padding: 2%;
    text-transform: uppercase;
    font-size: 1.3em;
}

.barras {
    border: 2px solid #3d3b3b;
    border-radius: 10px;

}

/*---------------------------------------------------------- Header -------------------------------------------------------*/
header {
    max-height: 90px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* --------------------------------------------------------------Nav-lateral ----------------------------------------------*/
.menu-itens {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    /*Cria o icone de menu-hamburguer*/
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 15px;
}

.change .bar1 {
    /*Altera a forma do icone de menu-hamburgue para um X*/
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.abrir {
    /*Abre o menu-hamburguer*/
    padding-top: 5%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 0;
    background-color: #3d3b3b;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

nav {
    background-color: #F29D30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    height: 60px;

}

#logo {
    max-width: 50px;
    width: 100%;
}

#meu-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nome-logo {
    display: none;

}

#avatar-minha-conta {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
}

.menu-lateral {

    height: 0;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

.menu-lateral a {

    margin: 10% 0;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
}

.menu-lateral h3 {
    color: white;
    font-size: 2em;

}

.abrir {
    /*Abre o menu-hamburguer*/
    padding-top: 5%;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #3d3b3be8;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;

}

/* Home ---------------------------------------------------- */

#home-main {

    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#fundo-main {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../img/home-pedreiro3.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1% 2% 7% 2%;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}


#categorias-home {

    display: flex;
    gap: 2%;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.categorias-home-escolha {
    width: 50%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;
    /* background-color: #3d3b3b;
    height: 30px; */
}

#pedreiro {
    /* background-color: #F29D30; */
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #F29D30;
    border-radius: 10px;
    padding: 10px 0;
}
 



#contratante {
    background-color: #0CA4F2;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}

#baixe-app {
    /* margin: 10px auto; */
    margin: 20px;
    width: 100%;
    /* max-width: 500px; */
    text-align: center;
    background-color: #3d3b3b59;
    border-radius: 10px;
    padding: 10px 0;
}

#baixe-app button {
    background: #F2182B;
}

#baixe-app h2{
    margin: 0 0 15px 0;
    padding: 0 10px;
    font-size: 1.2em;
}

#login-home {

    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 10px auto;
    overflow: hidden;
}

.conteudo-login-campos {
    margin: 20px 0;
    width: 100%;
}

.conteudo-login-campos input {
    line-height: 40px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid #F29D30;
    width: 90%;
    max-width: 700px;
    text-indent: 20px;
    /* text-transform: uppercase; */
    font-size: 1.1em;
    margin-top: 10px;
}

.conteudo-login-campos h2 {
    font-size: 1.7em;
    color: white;
    font-weight: bold;
    text-shadow: #3d3b3b 2px 2px 2px;
    text-transform: uppercase;
    margin: 0;
}

.login-extra {
    font-size: 1.3em;
    color: white;
    text-shadow: #3d3b3b 2px 2px 2px;
    display: block;
    text-decoration: none;
    margin: 10px 0;
}

#botao-entrar-login {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}


.subtitulos-sombra {
    text-shadow: #3d3b3b 2px 2px 2px;
    color: white;
    padding: 2%;
    text-transform: uppercase;
    font-size: 1.4em;
}



#parceiro-pp-home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../img/imagem9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0;
    border-radius: 10px 10px 0 0;
}

#parceiro-pp-home h2 {
    width: 100%;
    padding: 0 2%;
    text-align: center;
    color: white;
}

.cartao-parceiros {
    display: block;
    max-width: 300px;
    width: 100%;
    height: 380px;
    text-align: center;
    margin: 10px;
    background-color: #3d3b3b;
    box-shadow: 0 4px 8px 0;
    border-radius: 15px;

}

.cartao-parceiros h4 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
}

.cartao-parceiros img {
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.info-parceiros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 1em;
    height: 100px;
    padding: 0 15px;
}

.cartao-parceiros button {
    border: none;
    padding: 10px 0;
    width: 100%;
    background-color: #3DF267;
    font-size: 1.2em;
    border-radius: 0 0 15px 15px;
    /* bottom: 0; */
    /* left: 0; */
}

#seja-parceiro-home {
    width: 100%;
    padding: 0;
    margin: 10px 0;
}

#seja-parceiro-home img {
    width: 100%;
    margin: 5px 0;
    border-radius: 10px;
}

#parceiro-banner-conteudo {
    width: 100%;
    margin: 0;
    padding: 0;
}

#parceiros-banner-conteudo button {
    margin: 10px 0;
    display: block;
    background-color: #3df267;

}
/* SobreNos ------------------------------------------------------------------------------*/

.sobreNos img {
    width: 100%;
    border-radius: 10px;
}
#text_sobreNos{
    display: none;
    overflow: hidden;
}
.sobreNos-conteudo{
    margin: 10px 10px;
}
.titulos-sobreNos{
    background-color: #3d3b3bef ;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    text-align: center;
}

/* -----------------------CONTRATO------------------------------------------------------ */





/* ------------------------Cadastro Pedreiro------------------------------------------- */
#titulo-cadastro-pedreiro {
    background-color: #f47907;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.cadastro-pedreiro h2 {
    border-radius: 5px;
    text-align: center;
}

.input-radiope1 {
    display: flex;
    gap: 25px;
}

.input-boxpe input {

    background-color: #f47907;
    color: white;
    border: none;
    border-radius: 20px;
    text-indent: 10px;
    height: 40px;
}

.input-boxpe {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    flex-direction: column;
    justify-content: space-between;
    text-indent: 10px;

}

.input-radiope {
    padding-bottom: 20px;
}

.continue-buttonpe {
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.continue-buttonpe button {
    background-color: #f47907;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}


#ftope input {
    display: none;
}

#ftope {
    display: flex;
    padding-bottom: 20px;
}

.aqvpe {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.41);
    text-align: center;
    border-radius: 5px;
    border-style: dashed;
    margin: 5px;
}

.input-checkpe {
    padding: 10px 0;
}

.input-checkpe input {
    display: none;
}

.input-checkpe input+label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;

}

.input-checkpe input:checked+label::before {
    background-color: #f47907;
}


.input-radiope1 input,
.input-radiope input {
    display: none;
}

.input-radiope1 input+label::before,
.input-radiope input+label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;


}

.input-radiope1 input:checked+label::before,
.input-radiope input:checked+label::before {
    background-color: #f47907;
}

/* ---------------------Cadastro Contratante-------------------------------- */


.cadastroc {
    font-size: 20px;
}

#h1c {
    text-align: center;
    background-color: #0CA4F2;
    color: white;
    border-radius: 5px;
}

.input-boxc {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-indent: 10px;
}

.input-boxc input {
    background-color: #0CA4F2;
    border: none;
    color: white;
    height: 40px;
    border-radius: 20px;
    text-indent: 10px;
}

.continue-buttonc {
    text-align: center;
    padding: 20px;
}

.continue-buttonc button {
    font-size: 15px;
    background-color: #0CA4F2;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
}

.input-radioc {
    display: flex;
    gap: 25px;
    margin-left: 5px;
}

.input-checkc {
    margin-left: 5px;
}

#ftoc input {
    display: none;
}

#ftoc {
    display: flex;
    padding-bottom: 20px;

}

.aqv {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 60px;
    background-color: rgba(128, 128, 128, 0.41);
    text-align: center;
    border-radius: 5px;
    border-style: dashed;
    margin: 5px;
}

.input-checkc {

    padding: 10px 0;
}

.input-checkc input,
.input-radioc input {
    display: none;
}

.input-checkc input+label:before,
.input-radioc input+label::before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid gray;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 5px;

}

.input-checkc input:checked+label::before,
.input-radioc input:checked+label::before {
    background-color: #0CA4F2;


}

.input-radioc {
    padding-bottom: 20px;
}


/* Página duvidas ------------------------------------------*/
#main-ajuda {
    padding: 0 5%;
}

#tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tutorial>div {
    text-align: center;
}

#lista-beneficios>li {
    line-height: 25px;
}

/* --------------------------------------------------------------------Informação------------------------------------- */
.informacao-conteudo h1 h2 {
    text-align: center;
}

.informacao-conteudo video,
img {
    margin: 0 auto;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    height: auto;
}

.informacao-conteudo ul {
    padding-left: 20px;
}

.informacao-conteudo li {
    margin-bottom: 10px;
}

/* ------------------------------------------------------------------------Footer --------------------------------------------------*/

.rodape {
    background-color: #3d3b3b;
    color: rgb(255, 255, 255);
    font-weight: 300px;
    padding-top: 5px;
    overflow: hidden;
    font-family: "Noto Sans";
}

.menu-rodape ul {
    padding-inline-start: 0px;
}

.menu-rodape li {
    list-style-type: none;
    text-align: center;
}

.menu-rodape li a {
    text-decoration: none;
    color: gray;
}

.redes img {
    width: 45px;
}

.titulos-rodape {
    display: block;
    justify-content: center;
    align-items: center;
    /* margin: 0%; */
    padding: 20px auto;

}

.menu-rodape h3 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;

}

.menu-rodape hr {
    border: 1px rgb(110, 109, 109) solid;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 10px;

}

.redes li {
    list-style: none;
}

.redes a {
    justify-content: center;
}

.redes-icones div {
    display: none;
}

#redes-sociais {
    display: none;
}

.assinatura {
    text-align: center;
    color: rgb(110, 109, 109);
    justify-content: center;
    padding: 0 10px;
}

#logo-footer {
    margin-top: 0;
    text-align: center;
    justify-content: center;
}

.panel {
    display: none;
    overflow: hidden;
}


/*-------------------------------------------------------------- MediaQuery ---------------------------------------------------------------------*/

@media screen and (min-width:600px) {


    /* ---------------------------------------Header/Nav --------------------------------------------- */

    #nome-logo {
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        padding: 1px 0;
        display: block;
    }

    /* ---------------------------------------Footer--------------------------------------------- */
    .rodape-conteudo {
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
        text-align: center;
        flex-wrap: wrap;

    }

    .menu-rodape li a:hover {
        color: #F47907;
    }

    .panel {
        display: block;
    }

    .menu-rodape hr {
        display: none;
    }

    .redes {
        justify-content: space-around;
        display: flex;
    }

    .redes-posicao {
        width: 100%;
    }

    .redes-icones a {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .redes-icones a:hover {
        color: #F47907;
        transition: background-color 5s
    }

    .redes div {
        display: block;
    }

    .redes img {
        width: 45px;
    }

    .redes-icones {
        display: flex;
    }

    .redes-icones a {
        text-decoration: none;
        color: white;
    }

}



/* ---------------------------------------------------------Cadastro Contratante-------------------------------------------- */

#nome,
#rua {
    width: 90vw;
}

.input-boxc input {
    width: 90vw;
}

.input-groupc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}




@media screen and (min-width:750px) {

    /* ---------------------------------------Header/Nav --------------------------------------------- */

    #menu-principal {
        justify-content: space-around;
        padding: 0;
    }

    #menuLateral {
        display: none;
    }

    #menu-hamburguer {
        display: none;
    }

    #avatar-minha-conta {
        display: none;
    }

    .menu-itens {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-weight: bold;
    }

    #nome-logo {
        text-align: center;
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        padding: 1px 0;
    }

    
    
    /* -----------cadastro contratante---------------- */
    .contratoc form{  
         max-width: 100%;
    }

    /* .containerc{

    } */
}

@media screen and (min-width:900px) {
    
    /* -------------------------Footer------------------------------------------------------- */
    .rodape {
        padding-top: 0;
    }

    .rodape-conteudo {
        padding: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .rodape-conteudo li {
        font-size: 20px;
    }

    .titulos-rodape {
        font-size: 24px;
    }

    .menu-rodape li a:hover {
        color: #F47907;
    }

    .menu-rodape {
        width: fit-content;
        height: 210px;
    }

    .redes {
        display: list-item;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;

    }

    .redes-icones a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .redes-icones a img {
        width: 100%;
        max-width: 40px;
        max-height: 40px;
    }

    #redes-posicao {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .redes a {
        text-decoration: none;

    }

    .redes img {
        width: 60px;
    }

    #redes-sociais {
        display: block;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Noto Sans';
        font-weight: 200px;
    }

    .conteudo-geral-footer {
        display: flex;
        padding: 0 10%;
        justify-content: center;
    }

    .assinatura {
        font-size: 20px;
        border-top: solid rgb(68, 68, 68) 2px;
        padding: 10px;
    }

    #credito {
        margin: 0;
    }

    @media screen and (min-width:960px) {

        /* -----------Main/Home */
        .cartao-parceiros{
            max-width: 350px;
            height: 325px;
        }
        
        .cartao-parceiros img{
            height: 150px;
        }
        
        .cartao-parceiros h4{
            font-size: 1.1em;
        }
        
        .info-parceiros{
            font-size: 1.1em;
            padding: 0 6%;
        }

        /* ----------------cadastro contratante---------------------- */
        
        
        .containerc{
            display: flex;
            gap: 20px;
        }
        
        .contratoc form {
            max-width: 930px;
        }
        
        .input-groupc {
            display: flex;
            flex-wrap: wrap;
        }
        
        
        #nome {
            width: 930px;
            align-items: center;
        }
        
        #rua {
            width: 930px;
            align-items: center;
        }
        
        
        .input-boxc input {
            width: 400px;
            align-items: center;
        }
        
       
}

 /* -----------Main/Home */

    .cartao-parceiros{
        max-width: 250px;
        height: 330px;
    }

    #baixe-app{
        padding: 1%;
        border-radius: 10px;
    }
 
    /* #baixe-app h2{
        margin: 0 0 5px 0;
    } */

    .info-parceiros{
        font-size: 1em;
    }

    .cartao-parceiros h4{
        font-size: 1em;
    }

/*----------- Sobre Nos---------------*/
.sobreNos-conteudo{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sobre-conteudo{
    width: 30%;
    
}
.titulos-sobreNos:hover{
    /* background-color: #000000; */
    box-shadow: #4d4b4b 1px 1px 1px 1px;
}
.img-lado{
max-width: 300px;
}
#valores-img{
    margin: 65% 0;
}
}
@media screen and (min-width:1000px) {
 
    #nome,
    #rua {
        width: 800px;
    }
 
    .input-boxc input {
        width: 350px;
        /* margin-right: 40px; */
    }
 
    .input-groupc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
 
    }
 
    form{
        width: 800px;
    }
 
    .continue-buttonc button{
        cursor: pointer;
    }
}

